*
{
   padding: 0;
   margin: 0;
}

/* root */
:root {
   --bs-blue: #0d6efd;
   --bs-indigo: #6610f2;
   --bs-purple: #6f42c1;
   --bs-pink: #d63384;
   --bs-red: #dc3545;
   --bs-orange: #fd7e14;
   --bs-yellow: #ffc107;
   --bs-green: #198754;
   --bs-teal: #20c997;
   --bs-cyan: #0dcaf0;
   --bs-white: #fff;
   --bs-gray: #6c757d;
   --bs-gray-dark: #343a40;
   --bs-gray-100: #f8f9fa;
   --bs-gray-200: #e9ecef;
   --bs-gray-300: #dee2e6;
   --bs-gray-400: #ced4da;
   --bs-gray-500: #adb5bd;
   --bs-gray-600: #6c757d;
   --bs-gray-700: #495057;
   --bs-gray-800: #343a40;
   --bs-gray-900: #212529;
   --bs-primary: #0d6efd;
   --bs-secondary: #6c757d;
   --bs-success: #198754;
   --bs-info: #0dcaf0;
   --bs-warning: #ffc107;
   --bs-danger: #dc3545;
   --bs-light: #f8f9fa;
   --bs-dark: #212529;
   --bs-primary-rgb: 13, 110, 253;
   --bs-secondary-rgb: 108, 117, 125;
   --bs-success-rgb: 25, 135, 84;
   --bs-info-rgb: 13, 202, 240;
   --bs-warning-rgb: 255, 193, 7;
   --bs-danger-rgb: 220, 53, 69;
   --bs-light-rgb: 248, 249, 250;
   --bs-dark-rgb: 33, 37, 41;
   --bs-white-rgb: 255, 255, 255;
   --bs-black-rgb: 0, 0, 0;
   --bs-body-color-rgb: 33, 37, 41;
   --bs-body-bg-rgb: 255, 255, 255;
   --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
   --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
   --bs-body-font-family: var(--bs-font-sans-serif);
   --bs-body-font-size: 1rem;
   --bs-body-font-weight: 400;
   --bs-body-line-height: 1.5;
   --bs-body-color: #212529;
   --bs-body-bg: #fff;
 }

 
.sidebar {
   height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d8d8d8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 32px;
 }
 .sidebar ul li
 {
    list-style: none;
 }
 .sidebar ul li a h5
 {
   display: inline-block;
   color: #7369f6;
 }
 .sidebar ul li a .icon {
   font-size: 18px;
   vertical-align: middle;
   transition: background 1s ease;
   margin-left: 6px;
}
 .sidebar a {
   padding: 8px 0px 5px;
    text-decoration: none;
    font-size: 22px;
    color: #7c7c7c;
    display: block;
    transition: 0.3s;
 }
 
 .sidebar a:hover {
   color: #b8b8b8;
 }
 
 .sidebar .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
 }
 
 .openbtn {
   font-size: 20px;
   cursor: pointer;
   color: rgb(122, 122, 122);
    font-weight: 900;
   padding: 5px 10px;
   background-color: rgba(255, 255, 255, 0);
   border: none;
 }

 .openbtn:hover {
   background-color: rgba(255, 255, 255, 0);
 }
 
 #main {
   transition: margin-left .5s;
   padding: 1px;
 }
  @media screen and (max-height: 450px) {
   .sidebar {padding-top: 15px;}
   .sidebar a {font-size: 18px;}
 }
.hover_collapse .sidebar-icon ul li a .text{
	display: none;
}
.hover_collapse .sidebar-icon{
	width: 67px;
}

.sidebar-icon{
	position: fixed;
	top:0;
	left: 0;
	width: 263px;
	height: 100%;
	background: #f1f1f1;
   color: rgb(187, 187, 187);
   z-index: 1;
}
.sidebar-icon ul li
{
   list-style: none;
}
.sidebar-icon ul li a{
	display: block;
	padding: 10px 2px;
	color: #696969;
	transition: 1s;
   font-size: 19px;
   text-decoration: none;
}
.sidebar-icon ul li a .icon{
	font-size: 18px;
	vertical-align: middle;
	transition: background 1s ease;
   margin-left: 6px;

}
.sidebar-icon ul li a .icon2{
	font-size: 18px;
	vertical-align: middle;
	transition: background 1s ease;
   margin-left: -2px;
}
.sidebar-icon ul li a .text{
	margin-left: 10px;
	color: rgb(128, 128, 128);
	text-transform: uppercase;
	letter-spacing: 2px;

}
.sidebar-icon ul li .active
{
   background: #6256ee;
   color:white;
   
    border-radius: 8px;
}

.sidebar-icon ul li a:hover{
	color: rgb(231, 231, 231);
   margin-left:7px;
	transition: 1s;

}
.sidebar ul li a:hover{
	color: #fff;
   margin-left:7px;
	transition: 1s;

}
/* dark-mode body */

.dark-mode {
   background: #333c69;
   transition: 0.5s;
   color: rgb(255, 255, 255);
}

.dark-mode .sidebar
{
   background: #242942;

}
.dark-mode .sidebar-icon
{
   background: #242942;

}

.dark-mode .card-body h5
{
   color:rgb(255, 255, 255) ;
}
.dark-mode .card2{
    color: rgb(255, 255, 255);
    background: #242942;
    
 }
 .dark-mode .num1
 {
    color: white;
 }


.dark-mode .back-a
{
   box-shadow: 0px 0px 0px;
   border: 2px solid #00000000

}
.dark-mode .back-b
{
   box-shadow: 0px 0px 0px;
   border: 2px solid #f1f1f100

}
.dark-mode .sidebar_inner ul li a .icon i
{
   color: white;
}
.dark-mode .sidebar_inner ul li a .text
{
   color: white;
}





.card-body h5
{
   color:rgb(0, 0, 0) ;
}

.bg-dangers
{
   z-index: 2;
   position: absolute;
   top: 0;
   left: 68%;
   padding: 3px 6px;
   border: none;
}


.back-a
{
   background-color: rgb(255, 255 ,255);
   border-radius: 9px;
   border: 2px solid #f1f1f1
   
}
.back-aa i
{
   border-radius: 50px;
    padding: 0px 9px;
    background: #7879da;
    width: 52px;
    height: 53px;
    line-height: 1.8;

}

.back-b
{
   background-color: rgb(255, 255 ,255);
   border-radius: 9px;
   border: 2px solid #f1f1f1
}
.back-b i
{
   border-radius: 50px;
    padding: 0px 12px;
    background: #ffb87e;
    width: 52px;
    height: 53px;
    line-height: 1.8;

}
.left
{
   width: 20%;
   float: left;
}
.navbar 
{
   background: #e6e6e6;
}
.navbar-brand 
{
   color: rgb(160, 160, 160);
}

.navbar .navbar-collapse ul li a
{
   color: rgb(85, 85, 85);
}

.nav {
   margin: 0;
   padding: 0;
   list-style: none;
   
}
.nav li {    
   margin: 1px 0;
   border: 1px solid #999;
}
.nav li a {
   display: block;
   line-height: 3em;
   width: 100%;
   text-decoration: none;
}
.nav-item h6
{
    font-size: 15px;
    color: rgb(108 108 108);
    width: 73px;
    margin-top: 7px;
    
}

.nav-item li a .fa-search
{
    margin-right: 8px;
    font-size: 18px;
}
.nav-item li a .fa-ball
{
    font-size: 18px;

}
.nav-item h6 span

{
    font-size: 13px;

    margin-left: 22px;
    color: #686868;

}
.nav-item a img
{
    width: 38px;
    height: 36px;
    border-radius: 50px;
}


.container .row section
{
    
    width: 100%;
    height: 51vh;
    padding: 20px;
    display: inline-flex;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 22px;
    margin-bottom: 17px;
}
.container .row section div
{
    font-size: 40px;
}


/* Congratulations */
.Congratulations
{
   background: linear-gradient(90deg, #a59bff 0%, #7e72f2 100%);
   color: white;
   border-radius: 10px;

}
.Congratulations::before
{
   content: "";
    position: absolute;
    top: 15%;
    left: 81.5%;
    transform: translate(-50% , -50%);
    width: 180px;
    height: 83px;
    background-image: url(../img/decore-right.da0ab5cd.svg);
    background-repeat: no-repeat;
    background-size: contain;
}


.Congratulations::after
{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 214px;
    height: 116px;
    background-image: url(../img/decore-left.2d9d23e0.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.Congratulations i
{
   background: #6256ee;
    padding: 23px 30px;
    margin: 0 auto;
    border-radius: 44px;
}

@media (max-width: 770px){

   .Congratulations::after,
   .Congratulations::before
   {
   width: 160px;
   height: 75px;
   }
 
}
@media (min-width: 770px){

   
   .Congratulations::before
   {
   position: absolute;
   top: 15%;
   left: 83.5%;
  
   }
}

.num1 h1
{
    font-size: 28px;
    color: white;
    padding: 15px;
    letter-spacing: 2px;

}
.num1 h5

{
    width: 104%;
    font-size: 13px;
}
.num2
{
    background-color: #2b3253;
    color: white;
    border-radius: 10px;
    
    width: 25%;
}
.num2 i
{
    font-size: 24px;
    padding: 15px;
    background: #8074f2;
    border-radius: 50px;
    line-height: 1.2;
    margin: 19px;
}
.num2 .fa-box
{
    background: #ff9f43;
}
.num2 h2
{
    font-size: 24px;
    margin: 0px 24px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.num2 h3

{
    font-size: 14px;
    margin: 3px 24px;

}
.justify-content-between .right-days
{
   background-color: #2b3253;
   width: 47%;
   margin-left: 20px;
   height: 52vh;
   border-radius: 10px;
   padding: 28px 37px;
   color: white;
}
.justify-content-between .right-days h5
{
   font-size: 17px;
   font-weight: 700;
}

.justify-content-between .right-days span .green-text
{

   color: #33ff33;
   font-size: 15px;
   font-weight: 600;
}

.justify-content-between .right-days span 
{
   font-size: 14px;
   font-weight: 600;
}



.bg-primarys{
   background-color: #0f1642;
    border-radius: 10px;
}
.button-progres button
{
   margin-top: 80px;
    padding: 9px 18px;
    width: 210px;
    color: white;
    background: #6e62e7;

    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.button-progres button:hover
{
  background-color: rgb(112, 221, 61);
  transition: 1s; 
  cursor: pointer;
}
.green-text{
   color: rgb(157, 255, 9);
}



#cave-hight-1
{
 margin-left: 91px; 
 margin-top: 32px;
}


.justify-content-between .left-days
{
   background-color: #2b3253;
   width: 50%;
   height: 74vh;
  
   border-radius: 10px;
   padding: 28px 37px;
   color: white;
}
.justify-content-between .left-days h5
{
   font-size: 17px;
   font-weight: 700;
}


.justify-content-between .left-days span .green-text

{

   color: #33ff33;
   font-size: 15px;
   font-weight: 600;
}

.justify-content-between .left-days span 
{
   font-size: 14px;
   font-weight: 600;
}

.count1
{
   content: "";
   background-color: #6e62e7;
   width: 100%;
   height: 1.7px;
   margin: 14px 0;
   border-radius: 44px;
}

.progress {
   display: flex;
   height: 5px;
   overflow: hidden;
   font-size: .75rem;
   background-color: #e9ecef;
   border-radius: 50px;
}
 .bg-info {
   background-color: #7e72f2 !important;
}

.left-days .text .white-text
{
      color: #ffffff;
      font-size: 41px;
      font-weight: 700;
      display: block;
      margin-left: 40px;
  
}
.left-days .text p
{
   margin-left: 51px;
       margin-top: -9px;
       font-size: 17px;
}
.dit-product li

{
   display: flex;
   height: 23px;
}
.dit-product ul li i
{
   color: #a673ff;
    margin-right: 12px;
    font-size: 15px;
    margin-top: 3px;
}

.dit-product ul li h6

{
   font-size: 19px;
    color: rgb(53, 53, 53);
    font-weight: 200;
    margin-right: 144px;
}


.number1
{
   background: #2b3253;
   width: 31%;
   padding: 25px;
   border-radius: 15px;
   margin-left: 19px;
   height: 55vh;
}

.number1 h4
{
   color: #d1d1d1;
}
.number1 p
{
   color: #ffffff;
}

.number2
{
   background: #2b3253;
   width: 31%;
   padding: 25px;
   border-radius: 15px;
   margin-left: 19px;
   height: 55vh;
}



.number2 h4
{
   color: #d1d1d1;
}
.number2 p
{
   color: #ffffff;
   
}

.number3
{
   background: #2b3253;
   width: 31%;
   padding: 25px;
   border-radius: 15px;
   margin-left: 19px;
   height:70vh;
   color: white;
}
.number3 .box-shad .timeline-ul li p 
{
   margin-bottom: 7px;
}



.timeline-time
{
   font-size: 18px;
}
.timeline-prag
{
   font-size: 14px;
}

.colle h6
{
   font-size: 18px;
    color: gray;
}

.colle p
{
   font-size: 28px;
   font-weight: 600;
}
.timeline-ul  .timeline-title
{
   font-size: 17px;
   display: inline-block;
}
.timeline-prag {
   font-size: 14px;
   color: #bbbbbb;
   margin-top: -11px;
}
.timeline-ul li
{
   list-style: none;
   height: 67px;
}
.timeline-ul li i
{
   margin-left: -49px;
   background: #9482fc;
   margin-right: 5px;
   padding: 13px;
   border-radius: 24px;
}
.dit-product li
{
   margin-bottom: 7px;
}
